a[data-toggle="popover"]:hover {
  color: #000;
  cursor: pointer;
}

.popover {
  box-shadow: none;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
  max-width: 400px;
}

.popover-title {
  background-color: transparent;
  /*text-transform: uppercase;*/
  font-size: 18px;
  font-family: 'Arapey', serif;
  font-style: italic;
}
